<div id="form1-container">
    <form method="POST" action="/tee-time/player-information">
        <label for="date">When do you want to play? </label>
        <input type="date" id="date" name="date" />
        <br>
        <label for="quantity">How many are you?:</label>
        <input type="number" id="quantity" name="quantity" min="1" max="4">
        <br>
        <input type="submit" value="Next">
    </form>
</div>